<!DOCTYPE html>
<html>
<title>BuyQawProx DEMO for Crane</title>
<meta name="description" content="BuyQawProx DEMO Crane">
<meta name="author" content="B. Ospan">
<meta name="theme-color" content="transparent">
<link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
<link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}" type="image/png">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script>
  var data1, data2;
$.when(
  $.getJSON(window.location + 'static/json/data.json?' + new Date().getTime(), function(dat) {
    data1 = dat;
  }),
  $.getJSON(window.location + 'static/json/data1.json?' + new Date().getTime(), function(da) {
    data2 = da;
  })
).then(function(data1, data2) {
  Highcharts.setOptions({
    lang: {
      loading: 'Загрузка...',
      months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
      weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
      shortMonths: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сент', 'Окт', 'Нояб', 'Дек'],
      exportButtonTitle: "Экспорт",
      printButtonTitle: "Печать",
      rangeSelectorFrom: "С",
      rangeSelectorTo: "По",
      rangeSelectorZoom: "Период",
      downloadPNG: 'Скачать PNG',
      downloadJPEG: 'Скачать JPEG',
      downloadPDF: 'Скачать PDF',
      downloadSVG: 'Скачать SVG',
      printChart: 'Напечатать график'
    }
  });
  Highcharts.setOptions({
    global: {
      useUTC: false
    }
  });
  Highcharts.chart('container', {
    chart: {

      zoomType: 'x'
    },
    title: {
      text: 'Расположение крановщиков',
      align: 'center'
    },
    subtitle: {
      text: 'Чтобы увеличить - выберите область',
      align: 'left'
    },
    xAxis: {
      type: 'datetime',
      labels: {
        overflow: 'justify'
      }
    },
    yAxis: {
      title: {
        text: 'Расположение'
      },
      minorGridLineWidth: 0,
      gridLineWidth: 0,
      alternateGridColor: null,
      plotBands: [{ // Light air
          from: -0.5,
          to: 0.5,
          color: '#ffe6e6',
          label: {
            text: 'Нет на месте',
            style: {
              color: '#000000'
            }
          }
        },
        { // Light air
          from: 0.5,
          to: 1.5,
          color: '#ecffe6',
          label: {
            text: 'Первый кран',
            style: {
              color: '#000000'
            }
          }
        }, { // Light breeze
          from: 1.5,
          to: 2.5,
          color: '#e6e6ff',
          label: {
            text: 'Второй кран',
            style: {
              color: '#000000'
            }
          }
        }
      ]
    },
    tooltip: {
      valueSuffix: ' кран'
    },
    plotOptions: {
      spline: {
        lineWidth: 1,
        states: {
          hover: {
            lineWidth: 1
          }
        },
        marker: {
          enabled: false
        }
      }
    },
    series: [{
      name: 'Первый крановщик',
      data: data1[0],
      color: "#000099"
    }, {
      name: 'Второй крановщик',
      data: data2[0],
      color: "#663300"
    }],
    navigation: {
      menuItemStyle: {
        fontSize: '10px'
      }
    }
  });
});
</script>
<body class="w3-light-grey">
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:0px;margin-top:10px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> BuyQawProx Crane DEMO</b></h5>
  </header>

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-third">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{craneNUM}}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Сообщений от крана</h4>
      </div>
    </div>
    <div class="w3-third">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{enters}}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Входов на сайт</h4>
      </div>
    </div>
    <div class="w3-third">
      <div class="w3-container w3-orange w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>1</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Крановщиков</h4>
      </div>
    </div>
  </div>

  <hr>
  <div class="w3-container">
    <div id="container" style="width: 100%; height: 40%; margin: 0 auto"></div>
  </div>
  <hr>


  <!-- End page content -->
</div>

</body>
</html>
